html{
  margin-top:0;
  padding-top:0;
}
body{
  margin-top:0;
  padding-top:0;
}
.boxContainer {
    display: flex;
    justify-content: center;
  }
.box {
    flex: 1.2;
    width: 80%;
    text-align: center;
    border: solid 3px black;
    background-color: rgba(255, 221, 0, 0.588);
    
  }
.boxCharacter {
    flex: 1.2;
    width: 80%;
    text-align: left;
    border: solid 3px black;
    background-color: rgba(52, 133, 255, 0.32);
    
  }
